body{
    background-image: url(quarto2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 30%;
    overflow: hidden;
    image-rendering: pixelated;
    width: 100vw;
    

}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(238, 236, 236);
    font-size: 20px;
    margin: 10px;
}

button{
    border: 0;
    background: transparent;
    cursor: pointer;
}
#pistaCama {
    border-radius: 50px;
    height: 58px;
    width: 105px;
    margin-top: 37.3em;
    margin-left:18em;
}
#pistaSoro{
    border-radius: 30px;
    height: 58px;
    width: 38px;
    margin-top: 23em;
    margin-left:17em;
}
#pistaCorpo{
    border-radius: 10px;
    height: 37px;
    width: 35px;
    margin-top: 37.5em;
}
#proximaSala{
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    color: rgb(238, 236, 236);
    background: transparent;
    font-size: 20px;
    margin-left: 12em;
    margin-top: 7em;
}



#timer {
  position: fixed;
  top: 8px;
  left: 270px;
  color: #ffffff;
  padding: 10px 20px;
  font-family: "Courier New", monospace;
  font-size: 22px;
  /* letter-spacing: 2px; */
  z-index: 9999;
  transition: color 1.5s, box-shadow 0.5s;
}