body{
    background-image: url(quarto4.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: grid;
    grid-template-columns: 56% 1fr;
    overflow: hidden;
    image-rendering: pixelated;
    width: 100vw;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(238, 236, 236);
    font-size: 20px;
    margin: 10px;
}

button{
    border: 0;
    background: transparent;
    cursor: pointer;
}
#pistaRosto {
    border-radius: 50px;
    height: 80px;
    width: 70px;
    margin-top: 21em;
    margin-left:59em;
}
#pistaMao{
    border-radius: 20px;
    height: 45px;
    width: 37px;
    margin-top: 39em;
    margin-left:.4em;
}
#votacao{
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    color: rgb(238, 236, 236);
    background: transparent;
    font-size: 20px;
    margin-top: 4.5em;
    margin-left: 70em;

}
#imagemOculos{
    display:none; 
    position:absolute;
    top:50%; left:50%; 
    transform:translate(-50%, -50%);
}
#voltarPista{
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    color: rgb(238, 236, 236);
    font-size: 20px;
    margin-top: 0em;
    margin-left: -7em;
} 




#timer {
  position: fixed;
  top: 8px;
  left: 270px;
  color: #ffffff;
  padding: 10px 20px;
  font-family: "Courier New", monospace;
  font-size: 22px;
  /* letter-spacing: 2px; */
  z-index: 9999;
  transition: color 1.5s, box-shadow 0.5s;
}
